/*
Plugin Name: BusiCare Plus
Name: green.css
*/


.title span {
    color: #82b440;
}

a:hover {color: #82b440;}
.entry-meta a:hover {color: #82b440;}

dl dd a, dl dd a:hover, dl dd a:focus, ul li a:focus { color: #82b440; }

button,
input[type="button"],
input[type="submit"] {
    background-color: #82b440;
}

.btn-default {
    background: #82b440;
    border: 1px solid #82b440; 
}

.btn-light:hover, .btn-light:focus {
    background: #82b440; 
    border: 1px solid #82b440; 
}

.btn-default-dark { background: #82b440; }

.btn-border {
    border: 2px solid #82b440;
}


.btn-border:hover, .btn-border:focus {
    border: 2px solid #82b440;
}


a:focus { 
    color: #82b440;       
}

.custom-social-icons li > a:focus {
    background-color: #82b440;
}

.custom-social-icons li > a {
    color: #82b440;
}

.contact .custom-social-icons li > a:hover, .contact .custom-social-icons li > a:focus {
    background-color: #82b440;
}

.custom-social-icons li > a:hover, 
.custom-social-icons li > a:focus {
    background-color: #82b440;
}

#searchbar_fullscreen .btn {
    background-color: #82b440;
}

.screen-reader-text:focus {
    color: #82b440;   
}

.cart-header {
    background-color: #82b440;
}

.cart-header > a .cart-total {
    background: #82b440;
}

/*.slider-caption .heading {
    border-left: 4px solid #82b440;
}*/

.pointer-scroll {
    background: #82b440;
}

.owl-carousel .owl-prev:hover, 
.owl-carousel .owl-prev:focus { 
    background-color: #82b440;
}

.owl-carousel .owl-next:hover, 
.owl-carousel .owl-next:focus { 
    background-color: #82b440;
}

.cta_content, .cta_main {background-color: #82b440; }

.cta_content .btn-light {
    color: #82b440;
}

.cta_content a:after {
    color: #82b440;
}

.text-default { color: #82b440; }

.entry-header .entry-title a:focus {
    color: #82b440 !important; 
}

.services .post:hover .post-thumbnail i.fa {
    border: 1px solid #82b440;
    background-color: #82b440;
}

.section-space.services .entry-header .entry-title a:hover{
    color: #82b440;
}

.filter-tabs .nav-item.active{
    background-color: #82b440;
}

.filter-tabs li:focus, .filter-tabs li:hover{background-color: #82b440;}

.filter-tabs .nav-link:focus, .filter-tabs .nav-link:hover {
    background-color: #82b440;
}

.funfact-icon .fa{
    color: #82b440;
}

.page-breadcrumb li a:hover{
    color:#82b440;
}

.blog .post .entry-date a {
    background-color: #82b440;
}

.entry-meta a :hover{
    color:#82b440;
}

.sidebar .widget .widget-title{
    background-color:#82b440; 
}

.sidebar .input-group .form-control {
    border-color: #82b440 ;
}

.navbar .nav .nav-item a:focus{
    color: #82b440;
}

.sidebar .widget_categories li::before , 
.sidebar .widget_archive li::before ,
.sidebar .widget_recent_entries li::before ,
.sidebar .widget_meta li::before,
.sidebar .widget_recent_comments li::before 
{
    color: #82b440;
}

.sidebar .widget_categories li a:hover , 
.sidebar .widget_archive li a:hover ,
.sidebar .widget_recent_entries li a:hover ,
.sidebar .widget_meta li a:hover,
.sidebar .widget_recent_comments li a:hover,
.sidebar .widget li a:focus,
.dropdown-item a:focus{
    color: #82b440;
}

.title_seprater {
    background-color: #82b440;
}

.testmonial-block .avatar img {
    box-shadow: #82b440 0px 0px 0px 1px; 
}

.products .onsale {
    background: #82b440;
    border: 2px solid #82b440;
}

/*product page & product detail*/
.added_to_cart.wc-forward:hover, .woocommerce .posted_in a:hover{
    color: #82b440;
}

.woocommerce-loop-product__title a{color:#82b440;}

.woocommerce ul.product_list_widget li a:hover{
    color: #82b440;
}

.site-footer .woocommerce ul.product_list_widget li a{
    color: #82b440;
}

.sidebar .woocommerce ul.product_list_widget .star-rating{
    color: #82b440;
}

body .product-price h5 > a{
    color:#82b440;
}

.add-to-cart a {
    background: #82b440;
}

.team-grid .position { 
    color: #82b440; 
}

.team-grid .custom-social-icons li > a:hover {
    background-color: #82b440;
}

.title_seprater {
    background-color: #82b440;
}

.section-header .section-title-two span
{
    color: #82b440;
}

.footer-sidebar.footer-typo a:hover,.footer-sidebar.footer-typo a:focus{color:#82b440;}

.footer-sidebar address a:focus {color:#82b440;}

.footer-sidebar .widget .widget-title {
    color:#82b440;
}

.site-info{
    background-color: #82b440;
}

.footer-sidebar .widget li:hover::before{color:#82b440}

.blog .pagination a.active {
    background-color: #82b440;
}

.blog .pagination a:hover:not(.active),
.blog .pagination a:focus:not(.active) {background-color:#82b440;}

.portfolio .pagination a.active {
    background-color: #82b440;
}

.portfolio .pagination a:hover:not(.active),
.portfolio .pagination a:focus:not(.active) {background-color:#82b440;}

.portfolio .post:hover .click-view{
    background-color: #82b440;
}

.contact .title h4{
    background-color: #82b440;
}

.sidebar .contact .widget-cont-title {
    background-color: #82b440;
}
input[type="text"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="number"]:focus, input[type="tel"]:focus, input[type="range"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="time"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="color"]:focus, textarea:focus {
    border-color: #82b440;
}

.cont address > i.fa {
    color: #82b440;
}

.cont a:hover, .cont a:focus {
    color: #82b440;
}

.error-page .title {
    color: #82b440;
}

.error-page h4 {
    color: #82b440;
}

.error-page .not-found-btn a {
    background-color: #82b440;
}

.scroll-up a {
    background: #82b440;
}

.scroll-up a:hover,
.scroll-up a:active {
    background:#82b440;
}

/*SmartMenu Bootstrap*/
.navbar .nav .nav-item:hover .nav-link, 
.navbar .nav .nav-item.active .nav-link {
    color: #82b440;
}

/*slider dot*/
.owl-theme .owl-dots .owl-dot.active span {
    background-color: #82b440;
}

/*WooCommerce Style*/
/*.woocommerce-loop-product__title a{color:#82b440;}*/
.woocommerce-loop-product__title:hover {color:#82b440;}

.woocommerce ul.products li.product .onsale, .products span.onsale
{
    background: #82b440;
    border: 2px solid #82b440;
}
.woocommerce ul.products li.product .onsale, .woocommerce span.onsale{
    background: #82b440;
}

.woocommerce ul.products li.product .button, .owl-item .item .cart .add_to_cart_button {
    background: #82b440;
}

.woocommerce nav.woocommerce-pagination ul li a:focus, .woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li span.current {
    background: #82b440 !important;
}

.woocommerce div.product form.cart .button, .woocommerce a.button, .woocommerce a.button:hover, .woocommerce a.button, .woocommerce .woocommerce-Button, .woocommerce .cart input.button, .woocommerce input.button.alt, .woocommerce button.button, .woocommerce #respond input#submit, .woocommerce .cart input.button:hover, .woocommerce .cart input.button:focus, .woocommerce input.button.alt:hover, .woocommerce input.button.alt:focus, .woocommerce input.button:hover, .woocommerce input.button:focus, .woocommerce button.button:focus, .woocommerce #respond input#submit:focus, .woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
    background: #82b440;
}
.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce input.button.alt:hover {
    background: #82b440;
}
.woocommerce-message, .woocommerce-info {
    border-top-color: #82b440;
}
.woocommerce-message::before, .woocommerce-info::before {
    color: #82b440;
}
.woocommerce div.product .stock {
    color: #82b440;
}
.woocommerce p.stars a {
    color: #82b440;
}
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
    background: #82b440;
}
/*Woocommerce style*/

/*menu*/
.dropdown-item.active, .dropdown-item:active,.dropdown-item:hover {
    background-color: transparent;
    color:#82b440;
}

/*Contact SideBar*/
.sidebar_contact .contact_search .widget-cont-title {
    background-color: #82b440;
}
/*Contact SideBar*/

.filter-tabs .nav-item.show .nav-link, .filter-tabs .nav-link.active, .filter-tabs .nav-link:hover {
    background-color: #82b440;
}

/*Menu Search Effect*/
.search-form input[type="submit"],
.search-form input[type="submit"]:hover,
.search-form input[type="submit"]:focus {
    background: #82b440 repeat scroll 0 0;
    border: 1px solid #82b440;
}

.navbar .search-box-outer .dropdown-menu,.header-sticky.five .search-box-outer .dropdown-menu {
    border-top: solid 1px #82b440;
}

.btn-primary {
    background-color: #82b440;
    border-color: #82b440;
}

.btn-primary:hover {
    background-color: #82b440;
    border-color: #82b440;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle,.btn-primary:focus {
    background-color: #82b440;
    border-color: #82b440;
}

.pagination .nav-links .page-numbers.current {
	background-color: #82b440;
}

.sidebar .widget_meta li a:hover{
    color: #82b440;
}

.related-posts .entry-title a:hover{
    color: #82b440;
}

.sidebar .widget_product_search .search-field , .site-footer .widget_product_search .search-field{
    border-color: #82b440;
}

.sidebar .widget_nav_menu li a:hover ,
.sidebar .widget_pages li a:hover ,
.sidebar .widget_product_categories li a:hover ,
.sidebar .widget_links li a:hover {
  color: #82b440;
}

.sidebar .widget_nav_menu li::before ,
.sidebar .widget_pages li::before ,
.sidebar .widget_product_categories li::before ,
.sidebar .widget_links li::before {
    color: #82b440;
}
.sidebar .widget .custom-social-icons li > a:hover {background-color: #82b440;}
.sidebar .widget .head-contact-info a:hover {color: #82b440;}

.sidebar .widget .tagcloud a:hover, .site-footer .widget .tagcloud a:hover{
    background-color: #82b440;
}

.widget_nav_menu li a:hover , 
.widget_pages li a:hover ,
.widget_product_categories li a:hover ,
.widget_links li a:hover ,
.widget_categories li a:hover , 
.widget_archive li a:hover ,
.widget_recent_entries li a:hover ,
.widget_meta li a:hover,
.widget_recent_comments li a:hover,
.widget li a:focus,
.dropdown-item a:focus,
.navbar .nav .nav-item a:focus
{
  color: #82b440;
}
.widget_nav_menu li::before , 
.widget_pages li::before ,
.widget_product_categories li::before ,
.widget_links li::before ,
.widget_categories li::before , 
.widget_archive li::before ,
.widget_recent_entries li::before ,
.widget_meta li::before,
.widget_recent_comments li::before 
{
  color: #82b440;
}

.widget .input-group .form-control ,.woocommerce-product-search .search-field {
  border-color: #82b440;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-range {background-color: #82b440;}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {background-color: #82b440;}

blockquote:not(.testmonial-block) {
    border-left: 4px solid #82b440 !important;
}
.blog .post .entry-content a{
    color: #82b440;
}
 .team4 .team-grid .list-inline.list-unstyled li > a:hover {
    color: #82b440;
}
.services2 .post::before {
     background-color: #82b440;
}
.services2 .post-thumbnail i.fa {
    color: #82b440;
}
.services3 .post-thumbnail i.fa, .services3 .post-thumbnail img { 
  background: #82b440;
 box-shadow: #82b440 0px 0px 0px 1px;
}
.services3 .post:hover .post-thumbnail i.fa, .services3 .post:hover .post-thumbnail img { 
    color: #82b440;
}
.services4 .post-thumbnail i.fa, .services4 .post-thumbnail img { 
    color: #82b440; 
}
#testimonial-carousel2 .testmonial-block:before, .page-template-template-testimonial-5 .testmonial-block:before {
 border-top: 25px solid #82b440;
}
 .navbar .nav .nav-item:hover .nav-link, 
 .navbar .nav .nav-item.active .nav-link, 
 .dropdown-menu > li.active > a,.navbar .nav .nav-item.current_page_parent .nav-link {
    color: #82b440;
}
.bg-light {color: #82b440 !important;}
.navbar-nav a.bg-light:focus, 
.navbar-nav a.bg-light:hover, 
.navbar-nav button.bg-light:focus, 
.navbar-nav button.bg-light:hover {color: #82b440 !important;}
.contact-detail-area i {color:#82b440;} 
.blog.page blockquote:before{
    color: #82b44026;
    border-left: 4px solid #82b440;
}
.blog .post .entry-content a.more-link:hover{
    color: #82b440;
}
.home-blog h3 a:hover{
        color: #82b440;
    }
    
/*update*/
.busicare_header_btn {background-color: #82b440;}
.eight .busicare_header_btn:hover {background-color: #82b440;} 
.navbar.navbar7 .nav .nav-item.html:hover a, .navbar.navbar7 .nav .nav-item.html.active a {
    color: #82b440; 
}
.navbar5.navbar .nav .nav-item.html:hover a, .navbar5.navbar .nav .nav-item.html.active a {
    background: #82b440;
}

.navbar .nav .nav-item.html:hover a, .navbar .nav .nav-item.html.active a {
    color: #82b440; 
}
.hw .busicare_header_btn:hover, .hw .busicare_header_btn:focus {
    background: #82b440;
    color: #fff;
}
.navbar5.navbar .nav .nav-item.menu-html.menu-item:hover a, .navbar5.navbar .nav .nav-item.menu-html.menu-item.active a {
    background: #82b440;
}
.navbar5 .nav-item .widget button[type="submit"]:hover, .navbar5 .nav-item .widget button[type="submit"]:focus {
    color: #fff;
    background-color: #82b440 !important;
    border-color: #82b440 !important;
}

.navbar6 .nav .nav-item.radix-html:hover a, .navbar6 .nav .nav-item.radix-html.active a{color: #82b440;}
.navbar.navbar5 .nav-item .widget a:hover{color: #82b440;}

.hp-preloader-cube .hp-cube:before {background: #82b440;}
#preloader2 .square{background: #82b440;}

/*Dark CSS*/
.dark .navbar .nav .nav-item:hover .nav-link,.dark.navbar .nav .nav-item.active .nav-link {
    color: #82b440;
}
.dark .dropdown-item.active, .dropdown-item:active, .dropdown-item:hover {
    background-color: transparent;
    color: #82b440;
}
.btn-default { background: #82b440; color: #ffffff;border: 1px solid #82b440; }
.btn-light:hover, .btn-light:focus { background: #82b440; color: #ffffff;border: 1px solid #82b440; }
.btn-default-dark { background: #82b440; color: #ffffff; }
.btn-border { background: #ffffff; color: #1c314c; border: 2px solid #82b440; }
.btn-border:hover, .btn-border:focus { color: #ffffff; border: 2px solid #82b440;}
.custom-social-icons li > a:focus {background-color: #82b440;color:#fff;}
.custom-social-icons li > a {color: #82b440;}
.contact .custom-social-icons li > a:hover, .contact .custom-social-icons li > a:focus {
    background-color: #82b440;
}
.cart-header {background-color: #82b440;}
.slider-caption .heading { 
    border-left: 4px solid #82b440;
}
.pointer-scroll {
    background: #82b440;}
.owl-carousel .owl-prev:focus { 
    background-color: #82b440;
    color: #fff;
}
.owl-carousel .owl-next:focus { 
    background-color: #82b440;
    color: #fff;
}
.cta_content, .cta_main {background-color: #82b440; }
.cta_content .btn-light {padding: 0.688rem 1.5rem;background-color: #fff;color: #82b440;border:unset;}
.cta_content a:after {content: "\f054";padding: 0.25rem 0.5rem;color: #82b440;font-family: fontawesome;font-size: 0.688rem;font-weight: 400;} 
.text-default { color: #82b440; }

.entry-header .entry-title a:hover, 
.entry-header .entry-title a:focus { 
  color: #82b440 !important; 
}
.services .post:hover .post-thumbnail i.fa {
    border: 1px solid #82b440;
    background-color: #82b440;
    color:#fff;
}
.filter-tabs .nav-item.active{
  background-color: #82b440;
}

.filter-tabs li:focus, .filter-tabs li:hover{background-color: #82b440;}
.filter-tabs .nav-link:focus, .filter-tabs .nav-link:hover {
    border-color: none;
    background-color: #82b440;
}
.funfact-icon .fa{
    color: #82b440;
}
.page-breadcrumb li a:hover{
  color:#82b440;
}
.entry-meta a :hover{color:#82b440;}
.blog .post .entry-date a { background-color: #82b440;}
.sidebar .widget .widget-title
{
  background-color:#82b440;}
.sidebar .input-group .form-control {
  border-color: #82b440 ;
}
.sidebar .widget_categories li::before , 
.sidebar .widget_archive li::before ,
.sidebar .widget_recent_entries li::before ,
.sidebar .widget_meta li::before,
.sidebar .widget_recent_comments li::before 
{
  color: #82b440;
  
}
.testmonial-block .avatar img { border: 5px solid #fff; box-shadow: #82b440 0px 0px 0px 1px; margin: 0.125rem; }
.team-grid .position { color: #82b440;}
.team-grid .custom-social-icons li > a:hover {
     background-color: #82b440;
   }
.section-separator {
 background-color: #82b440;
} 
.section-header .section-title-two span
{
  color: #82b440;
}
.footer-sidebar li a:hover{color:#82b440;}
.footer-sidebar address a:focus {color:#82b440;}
.footer-sidebar .widget .widget-title {
    color:#82b440;
}
.site-info{background-color: #82b440;}
.footer-sidebar .widget li:hover::before{color:#82b440}
.blog .pagination a.active {
  background-color: #82b440;
}
.blog .pagination a:focus:not(.active) {background-color:#82b440;}
.portfolio .pagination a.active {
  background-color: #82b440;}
.portfolio .pagination a:focus:not(.active) {background-color:#82b440;}
.contact .title h4{
    background-color: #82b440;
  }
.sidebar .contact .widget-cont-title {
  background-color: #82b440;
  }
input[type="text"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="number"]:focus, input[type="tel"]:focus, input[type="range"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="time"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="color"]:focus, textarea:focus {
    border-color: #82b440;
}
.cont .fa-map-marker ,
.cont .fa-phone ,
.cont .fa-envelope-o ,
.cont .fa-whatsapp {
  color: #82b440;
}
.cont a:hover, .cont a:focus {
  color: #82b440;
}
.error-page .title {
    color: #82b440;}
.error-page h4 {
  color: #82b440;}
.scroll-up a {background: #82b440;}
.scroll-up a:active {
  background:#82b440;}
.search-form input[type="submit"] {
    background: #82b440 repeat scroll 0 0;
    border: 1px solid #82b440;
}
.dark .navbar .search-box-outer .dropdown-menu {
    border-top: solid 1px #82b440;
}
.btn-primary {
    color: #fff;
    background-color: #82b440;
    border-color: #82b440;
}
.btn-primary:hover {
    color: #fff;
    background-color: #82b440;
    border-color: #82b440;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle,.btn-primary:focus {
    color: #fff;
    background-color: #82b440;
    border-color: #82b440;
}
.services2 .post::before {
background-color: #82b440;}
.services2 .post-thumbnail i.fa { 
    color: #82b440;}
.services3 .post-thumbnail i.fa { 
  background: #82b440;
 box-shadow: #82b440 0px 0px 0px 1px;}
.services3 .post:hover .post-thumbnail i.fa { 
  color: #82b440; }
.services4 .post-thumbnail i.fa { 
    color: #82b440;}
.team2 .team-grid .card-body .list-inline li > a:hover {
    color: #82b440;
    background-color: unset;
}
 .team3 .team-grid .card-body .list-inline li > a:hover {
    color: #82b440;
    background-color: unset;
}
.team4 .horizontal-nav .owl-prev, .team4 .horizontal-nav .owl-next {
  border: 1px solid #82b440;
  color: #82b440;
}
 .team4 .team-grid .list-inline li > a:hover {
    color: #82b440;
    background-color: unset;
}
#testimonial-carousel2 .testmonial-block {
    border-left: 4px solid #82b440;
}
#testimonial-carousel2 .testmonial-block:before {border-top: 25px solid #82b440;}
.navbar.navbar4 .navbar-nav > li.active > a:after, .navbar.navbar4 ul li > a:hover:after {
    background: #82b440;}
.navbar5.navbar .nav .nav-item:hover .nav-link, .navbar5.navbar .nav .nav-item.active .nav-link {
    color: #ffffff;
    background: #82b440;
}
.navbar6 .header-lt::before {
   background-color: #82b440;}
.dark .services .post .post-thumbnail i.fa {color: #82b440; border: 2px solid #82b440;}
.dark .entry-content p .more-link {color: #82b440;}
.dark .owl-theme .owl-dots .owl-dot.active span {
    background-color: #82b440;}
.dark .busicare_header_btn { background-color: #82b440;}
.serv .post i.fa {
    color: #82b440;
}
.dark a:hover {
    color: #82b440;
}
.dark .blog .post .entry-content a.more-link:hover{
    color: #82b440;
}
.dark .navbar .nav .html a:hover{
    color: #82b440;
}
.navbar6 .header-lt::after {
    background-color: #82b440;
}
.navbar.navbar4 .navbar-nav > li.active > a:after, .navbar.navbar4 ul li > a:hover:after {
    background: #82b440;
    }
@media (max-width: 991px) {
  .navbar6 .header-lt {
    background-color: #82b440;
    }
  }
.dark .blog .pagination a.active {
    background-color: #82b440;
}
.dark .slider-caption .heading {
    border-left: 4px solid #82b440;
}
body .sidebar .wp-block-search__button {
    background-color: #82b440;
}
.dark .navbar .nav .nav-item.active .nav-link {
    color: #82b440;
}
.footer-sidebar .widget.widget_block .wp-block-search__label,
.footer-sidebar .widget.widget_block h1,
.footer-sidebar .widget.widget_block h2,
.footer-sidebar .widget.widget_block h3,
.footer-sidebar .widget.widget_block h4,
.footer-sidebar .widget.widget_block h5,
.footer-sidebar .widget.widget_block h6{
    color: #82b440;
}

.sidebar .widget.widget_block .wp-block-search__label,
.sidebar .widget.widget_block .wc-block-product-search__label,
.footer-sidebar .widget .wp-block-search .wp-block-search__button,
.sidebar .widget.widget_block h1,
.sidebar .widget.widget_block h2,
.sidebar .widget.widget_block h3,
.sidebar .widget.widget_block h4,
.sidebar .widget.widget_block h5,
.sidebar .widget.widget_block h6 {
    background-color: #82b440;
}
.sidebar .widget li:before,.sidebar .widget li a:hover,.sidebar .widget li a:focus, .footer-sidebar .widget.widget_block li:before{
    color: #82b440;
}
.sidebar .widget.woocommerce.widget_shopping_cart li a:hover,
.sidebar .widget.woocommerce.widget_top_rated_products li a:hover,
.sidebar .woocommerce ul.product_list_widget li a:hover{
color: #82b440;
 }
 nav.rank-math-breadcrumb a:hover { color: #82b440; }
.navxt-breadcrumb.text-center span a:hover {
    color: #82b440;
}